.search-holder {
    
    input {
        height: 36px;
        width: calc(100% - 50px);
        position: relative;
        padding-right: 38px;
    }

    .filter-search-btn {
        background: transparent;
        border: transparent;
        position: absolute;
        top: 8px;
        right: 80px;
        padding: 0;

        span {
            font-size: 18px;
            font-weight: 700;
            color: #9b9b9b;
        }
    }
    .filter-btn {
        background-image: $linear-gradient;
        border-radius: 5px;
        text-align: center;
        width: 40px;
        height: 35px;
        font-size: 20px;
        color: #ffffff;
        border: none;
        position: absolute;
        top: 0;
        right: 16px;
        
        i {
            font-weight: 700;
            line-height: 34px;
            vertical-align: middle;
        }
    }
}
.request-section {
    text-align: center;
    margin: 15px 0;

    img {
        height: 220px;
        width: auto;
        object-fit: contain;
        object-position: center;
    }
    button {
        width: auto;
        font-size: 15px;
    }
}