.creator-details-holder {

    .img-holder {
        margin-top: -200px;
        position: relative;
        margin-left: 30px;

        @media only screen and (max-width : 768px) {
            position: absolute;
            top: -245%;
            left: 12%;
            transform: scale(0.8);
        }
        @media only screen and (max-width : 320px) {
            position: absolute;
            top: -185%;
            left: 12%;
            transform: scale(0.8);
        }

        img {
            width: 240px;
            height: 240px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
            box-shadow: 0px 13px 20px 0px rgba(88, 88, 88, 0.18);
            &:hover {
                transform: scale(1.05);
                transition: 0.5ms ease-in;
            }
        }

        .actions-holder {
            position: absolute;
            top: 60px;
            left: -115px;
            transform: rotate(92deg);

            button {
                border-radius: 50%;
                width: 45px;
                height: 45px;
                line-height: 1;
                font-size: 18px;
                padding: 0;
                background: $primary-color;
                border: none;
                transform: rotate(-92deg);
                vertical-align: middle;

                span {
                    font-weight: 600;
                }
            }
            button:nth-child(2) {
                margin: 40px 10px 0 0;
            }
            button:nth-child(1) {
                margin: 10px;
            }
        }
    }
    .title-name {
        margin-top: 30px;
        @media (max-width: 768px){
            margin-top: -20px;
        }
    }
    .decs {
        line-height: 1.5;
        font-weight: 200;
        margin: 15px 0;
    }
}
