@font-face {
    font-family: 'Lato', sans-serif;
    src: url("./fonts/Lato-Bold.ttf") format("truetype"), url("./fonts/Lato-Regular.ttf") format("truetype"), url("./fonts/Lato-Thin.ttf") format("truetype");
    
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("./fonts/Roboto-Bold.ttf") format("truetype"), url("./fonts/Roboto-Medium.ttf") format("truetype"), url("./fonts/Roboto-Regular.ttf") format("truetype");
    
}

