$font-size: 15px;
$primary-color: #f10000;
$secondary-color: #000000;
$grey: #949090;
$linear-gradient: linear-gradient(to left, #000000 50%, #000000 100%);
$card-shadow: 1px 9px 25px 7px rgba(193, 192, 192, 0.16);
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Roboto mono', sans-serif;

button {
  font-family: 'Roboto Mono', monospace;
  &:hover{
    transform: scale(1.05);
    transition: 0.5ms ease-in;
  }
}

.btn-primary {
  background: $primary-color;
  border: none;
  width: 160px;
  &:hover,
  &:focus,
  &:active,
  &:not(:disabled):not(.disabled):active {
    background: darken($primary-color, 8%);
    box-shadow: none;
    outline: none;
  }
}
.btn-white {
  background: #ffffff;
  color: $primary-color;
  box-shadow: 0px 1px 3px rgba(171, 171, 171, 0.41);
  padding: 8px 15px;
  border-radius: 6px;
}

input {
  border: 1px solid #eaeaea;
  border-radius: 0;
  box-shadow: none;
  color: #A19898;
  font-size: 15px;
  font-weight: 200;
  height: 100%;
  padding: 10px 12px;
  &:focus {
    outline: none;
  }
}

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  // margin-right: -1em;
  // padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 8px;
    bottom: 0;
    z-index: 1;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2.5em;
    height: 1.5em;
    margin-top: 0.2em;
    background-image: linear-gradient(to left, $bgColor 50%, rgba(0, 0, 0, 0) 100%);
    // background: $bgColor;
  }
}

@mixin ellipsis($numberofline) {
  display: -webkit-box !important;
  -webkit-line-clamp: $numberofline;
  -moz-line-clamp: $numberofline;
  -ms-line-clamp: $numberofline;
  -o-line-clamp: $numberofline;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap:break-word;
  line-height: 1.4;
}

@mixin  sub-title {
  font-size: 42px;
  word-spacing: 1px;
  letter-spacing: 1px;
  font-weight: 200;
}

@mixin  subHeading {
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding-bottom: 5px;
  color: #5D5D5D;
  border-bottom: 1px solid rgba(202, 202, 202, 0.39);
}


@import './font.scss';
@import './icon-styles.scss';
@import '../../components/Header/Header.scss';
@import '../../components/CreatorCarousel/CreatorCarousel.scss';
@import '../../components/CreatorExploreMenu/CreatorExploreMenu.scss';
@import '../../components/CreatorCatogories/CreatorCatogories.scss';
@import '../../components/CreatorCardDetails/CreatorCardDetails.scss';
@import '../../components/CreatorProfileMenu/CreatorProfileMenu.scss';
@import '../../components/CreatorPostCard/CreatorPostCard.scss';
@import '../../components/CreatorDetailsTimeline/CreatorDetailsTimeline.scss';
@import '../../components/CreatorLastSectionTimeline/CreatorLastSectionTimeline.scss';
@import '../../components/CreatorTimeline/CreatorTimeline.scss';
@import '../../components/MerchTimeline/MerchTimeline.scss';
@import '../../components/CreatorShop/CreatorShop.scss';
@import '../../components/ShopCards/ShopCards.scss';
@import '../../components/CreatorForum/CreatorForum.scss';
@import '../../components/ControlPanelTabs/ControlPanelTabs.scss';
@import '../../components/ProfieOverview/ProfieOverview.scss';
@import '../../components/EditProfileForm/EditProfileForm.scss';
@import '../../components/TicketCards/TicketCards.scss';


html,
#root {
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #5D5D5D;
  cursor: default;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  // background: #f6f7f9;
}
.example {
  font-size: $font-size;
}

.profile-carousel-holder {
    height: 400px;
    width: auto;
    &::before {
      content: '';
      background: rgba(0, 0, 0, 0.17);
      width: 100%;
      height: 400px;
      top: 54px;
      left: 0;
      position: absolute;
      @media only screen and (max-width : 768px) {
        height: 320px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    @media only screen and (max-width : 768px) {
      height: 320px;
    }
}
.flex-direction-unset {
  flex-direction: unset;
}

.ht-100vh{
  height: 100vh;
}

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.075);
  border: none;
  padding: 15px;
  word-break: break-word;
  &:hover{
    transform: scale(1.02);
    transition: 0.8ms linear;
  }
}

.tabHead {
  display: flex;
  justify-content: center;
  font-family: $secondary-font;

  .nav {
    @media only screen and (max-width: 768px) {
      flex-direction: row;
      display: flex;
      flex-wrap: nowrap;
    }
    .nav-item {
      
      @media only screen and (max-width: 768px) {
          text-align: center;
          padding: 10px 0;   
      }
      .nav-link {
        color: $grey;
        padding: 20px 25px;
        font-size: 16px;

        span[class^="icon-"] {
          font-size: 25px;
          padding-right: 20px;
          vertical-align: sub;
          @media (max-width: 768px) {
              padding: 0;
          }
        }
      }
      .nav-link.active {
        color: $primary-color;
        font-weight: 600;
        background: transparent;
      }
    }
  }
}
.nav-pills {
  .nav-link{
    &.active {
      background: transparent;
    }
  }
}
.form-label{
  color: #2F2F2F;
  font-size: 16px;
  font-weight: 600;
}
.sub-sm-text {
  color: #A69D9D;
  font-weight: 200;
  font-size: 15px;
}