.creator-catogories {
    margin: 30px auto;
    text-align: center;
    
    .title {
        @include sub-title;
    }
    [class^="col-"] {
        margin-top: 30px;
    }
    button {
        font-size: 16px;
        font-weight: 400;
        border-radius: 20px;
        width: 100%;
    }
}